/*reset do css*/
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
  background-image: url('https://i.stack.imgur.com/spmUM.gif');
  background-size: auto 130vh; /*largura e altura*/
  background-repeat: no-repeat;
  background-color: black;/*linear-gradient( 0deg, rgba(0, 0, 0, 0), rgb(0, 0, 0));*/
  /*para tamanho poderiamos utilizar o vh q é o ViewportHeight e podemor usar para largura o vw, viewportWidth, ambos vão trabalhar com o tamanho da tela em uso.*/}
/*Se a tela tiver pelo menos 400px vai carregar estes estilos*/
/*ou seja, apartir de 400px o site segue essa regra de estilo*/
@media(min-width: 400px){/*os parenteses serve para colocar a condição do if dentro deles*/
  body{
    font-size: 14px;
  }
  .img-face{
    height: 50%;
    width: 50%;
  }
}
/*breakpoint*/
@media(min-width: 600px){
  body{
    font-size: 18px;
  }
}
header{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
section{
  margin-top: 200px;
}
section a{
  text-decoration: none;
  font-family: sans-serif;
  color: whitesmoke;
  font-style: italic;
}
section a:hover{
  color:gray;
}
.titulo a{
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-face{
  border-radius: 80px;
  filter: blur(2px);
  height: 30%;
  width: 30%;
}
.img-face:hover{
  filter: none;
  cursor: pointer;
  border-style: solid;
  border-color: lightgray;
}
nav a{
  color: rgb(255, 255, 255);
  display: block;
  padding: 10px;
  text-decoration: none; /*tira o sublinhado que ja vem padrão*/
}
nav a:hover{
  color:rgb(255, 238, 0);
  text-decoration: underline;
  font-style: italic;
}
nav{
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background-image: linear-gradient( 80deg, rgba(255, 65, 100, 0.479), rgba(133, 133, 255, 0.5));
  color: whitesmoke;
  position: fixed; /*fixar menu na pagina*/
  top: 0;
  width: 100vw;
}
nav li{
  list-style: none; /*tira a bolinha da lista que ja vem padrão*/
}
nav ul{
  display:flex; /*coloca a lista tudo em uma linha*/
  justify-content: space-around; /*coloca um espaçamento entre as listas, só funciona com o display:flex*/
}
.site-title,
.site-subtitle { /*usado para alterar mais de um grupo*/
  color: lightgray;
  font-family: monospace;
  text-align: center;
}
.site-subtitle {
  border-style: solid;
  border-top-width: 5px;
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  font-style: italic;
}
.img-portfolio{
  height: 180px;
  width: 180px;
  border-radius: 30%;
  margin: 30px;
}
.img-portfolio:hover{
  border-style: solid;
  border-color: lightgray;
}
.portfolio{
  font-family: sans-serif;
  color: white;
  display: flex;
  justify-content: center;
}
.portfolio2{
  display: flex;
  justify-content: center;
}
.portfolio3{
  display: flex;
  justify-content: center;
}
figcaption{
  display: flex;
  justify-content: center;
}
/*rolagem suave com botão do menu*/
html{
  scroll-behavior: smooth;
}
