/*reset do css*/
*{
  box-sizing: border-box;
  font-family: 'Cabin', sans-serif;
  margin: 0;
  padding: 0;
}
body{
  background-color: black;/*linear-gradient( 0deg, rgba(0, 0, 0, 0), rgb(0, 0, 0));*/
  background-image: url('https://i.stack.imgur.com/spmUM.gif');
  background-repeat: no-repeat;
  background-size: auto 130vh; /*largura e altura*/
  /*para tamanho poderiamos utilizar o vh q é o ViewportHeight e podemor usar para largura o vw, viewportWidth, ambos vão trabalhar com o tamanho da tela em uso.*/
}
/*barra lateral de rolagem*/
body::-webkit-scrollbar {
  width: 10px;
} 
body::-webkit-scrollbar-thumb {   
  background-image:  linear-gradient( 180deg, rgba(255, 65, 100, 0.479), rgba(133, 133, 255, 0.5));
}

/*Se a tela tiver pelo menos 400px vai carregar estes estilos*/
/*ou seja, apartir de 400px o site segue essa regra de estilo*/
@media(min-width: 400px){/*os parenteses serve para colocar a condição do if dentro deles*/
  body{
    font-size: 14px;
  }
}
/*breakpoint*/
@media(min-width: 600px){
  body{
    font-size: 18px;
  }
}
header{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
}
.titulo a{
  align-items: center;
  display: flex;
  justify-content: center;
}
.img-face{
  height: 30%;
  width: 30%;
}
.superior{
  background-image: linear-gradient( 80deg, rgba(255, 65, 100, 0.479), rgba(133, 133, 255, 0.5));
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  color: whitesmoke;
  position: fixed; /*fixar menu na pagina*/
  top: 0;
  width: 100vw;
  z-index: 1;
}
.superior a{
  color: rgb(255, 255, 255);
  display: block;
  padding: 10px;
  text-decoration: none; /*tira o sublinhado que ja vem padrão*/
}
.superior a:hover{
  color:rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 40px;
  font-style: italic;
  text-decoration: underline;
  transition: background-color 1s, border-radius 0.5s;
}
.superior li{
  list-style: none; /*tira a bolinha da lista que ja vem padrão*/
}
.superior ul{
  display:flex; /*coloca a lista tudo em uma linha*/
  justify-content: space-around; /*coloca um espaçamento entre as listas, só funciona com o display:flex*/
}

.botaoTop {
  background-color: rgb(204, 204, 204);
  border-radius: 40px;
  padding: 10px; 
  position: fixed;
  right: 4%; /* para ele ficar fixo do lado direito da página */
  top: 90%; /* vc pode colocar a porcentagem que quiser que ele fique longe do topo da pagina */
  width: 2em; /* A altura que vc quer o botão */
}
.botaoTop a{
  color: white;
}
.botaoTop:hover{
  background-color: rgba(71, 71, 71, 0.5);
}
.botaoTop a:hover{
  color: rgb(0, 0, 0);
}
.titulo{
  animation: linear 2s animacaoTitulo forwards;
  transform: scale(0.2) translateY(50vh);
  opacity: 0;
}

/*criando uma função de animacaoTitulo*/
@keyframes animacaoTitulo {

  /*inicio da animação, ao inves de 0% podemos utilizar o from*/0% {

  }
  /*fim da animação, ao inves de 100% podemos utilizar o to*/100% {
      transform: scale(1) translateY(0);
      opacity: 1;
  }
}

.site-title,
.site-subtitle { /*usado para alterar mais de um grupo*/
  color: white;
  font-family: 'Amaranth', sans-serif;
  line-height: 1.5; /*espaçamento entre linhas*/
  text-align: center;
  text-shadow: 0px 0px 20px rgb(0, 0, 0);
}
.site-subtitle {
  border-style: solid;
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-top-width: 5px;
  font-style: italic;
}
.sobre h2{
  /*background-image: linear-gradient( 0deg, rgba(134, 134, 134, 0.678), rgba(141, 141, 141, 0) ,rgba(0, 0, 0));*/
  color: white;
  font-family: 'Source Code Pro', monospace;
  text-align: center;
  font-style: italic;
}
.sobre p{
  color: white;
  margin-bottom: 1.5em;
  text-align: justify; /*deixar texto justificado*/
  text-indent: 1em ;/*recuo do texto*/
}
@media (min-width: 1200px){
  .container{
    margin-left: auto;
    margin-right: auto; /*só funciona para o eixo horizontal*/
    max-width: 1200px;
  }
}
.figureSobre img{ /*Imagem na guia sobre*/
  border-radius: 20px;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%); /*cortar com base em algo, basicamente como uma mascara*/
  /*para fazear um polygon pode-se utilizar o site: https://bennettfeely.com/clippy/*/
  float: left; /*para colocar foto no meio dos textos*/
  height: 250px;
  margin: 2em;
}

@media (max-width: 500px){
  .figureSobre img{
    height: 150px;
    margin: 0;
    clip-path: polygon(0% 0%, 100% 0, 100% 81%, 50% 100%, 0 85%);
    float: none;
  }
}

.paragrafoSobre{
  margin-top: 1em;
}
.sobre,
.projetos,
.contatos{
  font-family: 'Source Code Pro', monospace;
  min-height: 100vh;
  padding: 2em;
  text-align: center;
}

.projetos a,
.contatos a,
.sobre a{
  color: white;
  font-style: italic;
  text-decoration: none;
}
.projetos h2,
.contatos h2,
.sobre h2{
  color: white;
  padding-top: 4em;
}

.contatos i{
  font-size: 3em;
}
.gridSobre{
  margin-top: 2em;
}
.gridContatos{
  margin-top: 4em;
}
.gridProjetos,
.gridContatos{
  align-items: center;
  display: grid;
  grid-template-columns:100px;
  height: 60vh;
  justify-content: center;
}
.gridContatos a:hover{
  text-shadow: 0px 0px 20px rgb(238, 255, 0, 1);
  transition: text-shadow 0.5s;
}

@media (min-width: 500px){
  .gridProjetos,
  .gridContatos{
    grid-template-columns: repeat(2, 100px); /*fazer duas colunas de 100px*/
    justify-content: space-around;
  }

}
@media (min-width: 600px){
  .gridProjetos{
    grid-template-columns: repeat(4, 100px);
    justify-content: space-around;
  }
}
.img-portfolio{
  border-radius: 40px;
  height: 110px;
  object-fit: cover;
  width: 130px;
}
@media (max-width: 500px){
  .img-portfolio{
    margin-top: 2em;
    border-radius: 50px;
    object-fit: cover;
    height: 55px;
    width: 65px;
  }
}
.img-portfolio:hover{
  border-color: white;
  border-style: solid;
  transform: scale(1.2); 
  /*aumentar a imagem quando passar o mouse por cima, o numero entre parenteses é a quantidade de vezes da imagem*/
  /*Conseguimos rotacionar a imagem usando em transform a ferramenta rotate(angulo)*/
  transition: transform 0.5s; /*tempo da transição do transform*/
}
figcaption{
  color: white;
  font-family: 'Cabin', sans-serif;
  margin-top: 5px;
}
.figureProjetos{
  display: flex;
  text-align: center;
}
.gridProjetos a{
  text-decoration: none;
}
/*rolagem suave com botão do menu*/
html{
  scroll-behavior: smooth;
  overflow: hidden; /*tirar barra de rolagem*/
}
